<div class="basics-container">
  <h3>Routing</h3>
  <section>
    <pre>&lt;a <span class="t">routerLinkActive</span>="active"
   [<span class="t">routerLinkActiveOptions</span>]="&#123;exact:true&#125;"
   <span class="t">routerLink</span>="./"&gt;
   Root
&lt;/a&gt;</pre>
    <p>
      • use for <code>[routerLinkActiveOptions]="&#123;exact: true&#125;"</code> so that active class specified in <code>routerLinkActive</code> is only applied when url matches exactly 
    </p>
    <hr>
    <p>
      <b>absolute path:</b> 
    </p>
    <pre>&lt;a <span class="t">routerLinkActive</span>="active"
   <span class="t">routerLink</span>="/learn/basics/info"
   Info
&lt;/a&gt;</pre>
    <hr>
    <p>
      <b>relative path:</b> binding, ./binding
    </p>
    <pre>&lt;a <span class="t">routerLinkActive</span>="active"
   <span class="t">routerLink</span>="binding"
   Binding
&lt;/a&gt;</pre>
    <hr>
    <p>
      <b>alternate syntax for setting routerLink:</b>
    </p>
    <pre>&lt;a <span class="t">routerLinkActive</span>="active"
   [<span class="t">routerLink</span>]=['directives']
   Directives
&lt;/a&gt;</pre>
</section>
</div>