<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" 
       routerLinkActive="active" 
       [routerLinkActiveOptions]="{exact: true}"
       routerLink="./">
       Root
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
       routerLinkActive="active" 
       routerLink="info">
       Info
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
       routerLinkActive="active" 
       routerLink="binding">
      Binding
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
       routerLinkActive="active" 
       routerLink="directives">
       Directives
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
       routerLinkActive="active" 
       routerLink="misc">
       Misc
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
       routerLinkActive="active" 
       routerLink="routing">
       Routing
    </a>
  </li> 
  <li class="nav-item">
    <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="services">
        Services
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" 
        routerLinkActive="active" 
        routerLink="typescript">
        TypeScript
    </a>
  </li>   
</ul>
<router-outlet></router-outlet>
